.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 15px;
    text-decoration: none;
    align-items: center;
    font-family: "Roboto", sans-serif; 
}

.header-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px; 
    font-family: "Roboto", sans-serif; 
    margin-left: 15px;
}

.logo img {
    max-width: 100%;
    height: auto;
    filter: invert(1);
}

.main-section {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    font-family: "Roboto", sans-serif; 
}

.main-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: auto;
  }
  
  .main-text p {
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto", sans-serif; 
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .signup-button {
    background-color: #3882f6;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    width: 100px;
    height: auto;
  }
  
  .signup-button:hover {
    background-color: #1d68cf;  
  }

  .image-placeholder {
    width: 500px;
    height: 150px;
    background-color: #495660;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Align content horizontally in the center */
     align-items: center; 
  }

  .image-placeholder p {
    color: #ffffff;
    text-align: center;
  }

  .section3 {
    background-color: white;
    text-align: center;
    padding: 35px;
    font-family: "Roboto", sans-serif;
  }

  .section3 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 50px;
  }

  .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .box {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #3882f6;
  }

  .box-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 0px;
  }
  
  .box-text-container p {
    color: #1f2937;
    max-width: 200px;
    text-align: center;
  }